<link rel="stylesheet" href="/static/style.css" type="text/css">

 
<form action="/calc" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="loan_amnt" name="loan_amnt">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="emp_length" name="emp_length">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="radio" name="home_ownership"  value="ANY"> ANY </input><br>
<input type="radio" name="home_ownership"  value="MORTGAGE"> MORTGAGE </input><br>
<input type="radio" name="home_ownership"  value="OWN"> OWN </input><br>		
<input type="radio" name="home_ownership"  value="RENT"> RENT </input><br>		
				<input type="text" class="login-field" value="" placeholder="annual_inc" name="annual_inc">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="title" name="title">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="delinq_2yrs" name="delinq_2yrs">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="fico_range_low" name="fico_range_low">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="fico_range_high" name="fico_range_high">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="pub_rec" name="pub_rec">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="revol_bal" name="revol_bal">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="revol_util" name="revol_util">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="tot_cur_bal" name="tot_cur_bal">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="chargeoff_within_12_mths" name="chargeoff_within_12_mths">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="public_rec_bankruptcies" name="public_rec_bankruptcies">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
				<input type="text" class="login-field" value="" placeholder="total_il_high_credit_limit" name="total_il_high_credit_limit">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>

<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
 
</div>
</div>
</div>
</form>