<!DOCTYPE HTML>
<html>

<head>
	<title>Credit Coast</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/static/assets/css/main.css">
	<noscript>
		<link rel="stylesheet" href="/static/assets/css/noscript.css"></noscript>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">

		<header id="header">
			<h1 id="logo"><a href="/"><img src = "/static/logo.png" width = "50%" style = "margin-left:-20%;"></a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/about">About</a></li>
					<!-- if not authenticated yet -->
					<li><a href="/signup">Sign Up</a></li>
					<li><a href="/login_page">Sign In</a></li>
					<!-- else if authenticated
					<li>USERNAME</li>
					<li><a href = 'logout.html'>Logout</a></li> -->
				</ul>
			</nav>
		</header>

		<section id="banner">
			<div class="content">
				<header>
					<h2 align='center'>Credit Coast</h2>
					<p>Revolutionizing credit calculation for the masses.</p>
				</header>
			</div>
		</section>

		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
				<li><a href="https://github.com/navyamehta/AI-credit-modelling/" class="icon alt fa-github"><span class="label">Github</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Credit Coast. All rights reserved.</li>
				<li>Design: <a href="/about">Credit Coast Team</a></li>
				<li><a href='/legal'>LEGAL</a></li>
			</ul>
		</footer>

	</div>

	<script src="/static/assets/js/jquery.min.js"></script>
	<script src="/static/assets/js/jquery.scrolly.min.js"></script>
	<script src="/static/assets/js/jquery.dropotron.min.js"></script>
	<script src="/static/assets/js/jquery.scrollex.min.js"></script>
	<script src="/static/assets/js/browser.min.js"></script>
	<script src="/static/assets/js/breakpoints.min.js"></script>
	<script src="/static/assets/js/util.js"></script>
	<script src="/static/assets/js/main.js"></script>

</body>

</html>